{% extends 'post.html' %}
{% block title %} Agregar un comentario {% endblock %}
{% block post %}

<div class="container px-4 px-lg-5">

    {% if user.is_authenticated %}
            <h1>
                Agregar un comentario
            </h1>
            <div class="col-sm-6">
                <div class="form-group">
                    <form method="POST">{% csrf_token %}
                        {{form.as_p}}
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </form>
                </div>
            </div>
            <br>
    {% else %}
        <h1>
            Debes iniciar sesión para ver esta página.
        </h1>
        <br>
    {% endif %}

</div>

{% endblock post %}