{% extends 'post.html' %}
{% block title %} Eliminar un post {% endblock %}
{% block post %}

{% if user.is_authenticated %}

    {% if user.id == post.autor.id %}

        <div class="container">
            <h1>
                Eliminar un post
            </h1>
            <br>
            <h3>
                Eliminar: {{post.titulo}}
            </h3>
            <h5>
                {{post.subtitulo}}
            </h5>
            <br>
            <div class="col-sm-6">
                <div class="form-group">
                    <form method="POST">{% csrf_token %}
                        <strong>
                            ¿Estás seguro que deseas eliminar este post?
                            <br>
                        </strong>
                        <br>
                        <button type="submit" class="btn btn-secondary">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>

    {% else %}
    
        <h1>
            Debes ser el autor del post para eliminarlo.
        </h1>
        <br>
    
        {% endif %}

{% else %}

    <h1>
        Debes iniciar sesión para ver esta página.
    </h1>
    <br>

{% endif %}

    <br>

{% endblock post %}