{% extends 'post.html' %}
{% block title %} Eliminar post {% endblock %}
{% block post %}

<div class="container px-4 px-lg-5">

    {% if user.is_authenticated %}

        {% if user.id == post.autor.id %}
            <h1>
                Eliminar post
            </h1>
            <br>
            <h3>
                Eliminar: {{post.titulo}}
            </h3>
            <h5>
                {{post.subtitulo}}
            </h5>
            <br>
            <div class="col-sm-6">
                <div class="form-group">
                    <form method="POST">{% csrf_token %}
                        <strong>
                            ¿Estás seguro que deseas eliminar este post?
                        </strong>
                        <br><br>
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </div>
            </div>
        {% else %}
            <h1>
                Debes ser el autor del post para eliminarlo.
            </h1>
            <br>
        {% endif %}

    {% else %}
        <h1>
            Debes iniciar sesión para ver esta página.
        </h1>
        <br>
    {% endif %}

    <br>
</div>

{% endblock post %}