{% extends 'index.html' %}
{% block posts %}

<h1>
    Posts más recientes
</h1>
<br>
<ul>
    {% for post in object_list|slice:":5" %}
    <li>
            <a href="{% url 'post_details' post.pk %}" class="link-primary"><u><strong>{{post.titulo}}</strong></u></a><small class="text-muted"> - {{post.autor.first_name}} {{post.autor.last_name}}
            <br>
            {{post.fecha}}
            </small>
            <br/>
            <strong>
                {{post.subtitulo}}
            </strong>
            </h6>
            <br/><br/>
        </li>
    {% endfor %}
</ul>

{% endblock posts %}