html{% extends 'index.html' %}
{% block posts %}

<h1>
    Posts
</h1>

<ul>
    {% for post in object_list %}
    <li>
            <a href="{% url 'post_details' post.pk %}"><u><strong>{{post.titulo}}</strong></u></a><small class="text-muted"> - {{post.autor.first_name}} {{post.autor.last_name}}
            <br>
            {{post.fecha}}
            </small>
            <br/><br/>
            <strong>
                {{post.subtitulo}}
            </strong>
            </h6>
            <br/>
            {{post.cuerpo|slice:":100"}}...
            <br/><br/>
        </li>
    {% endfor %}
</ul>

{% endblock posts %}