{% extends 'post.html' %}
{% block title %} Cambiar contraseña {% endblock %}
{% block post %}

<h1>
    Cambiar contraseña
</h1>
<br>
<div class="col-sm-6">
    <div class="form-group">
    <ul>
        <li>
            Su contraseña no puede asemejarse tanto a su otra información personal.
        </li>
        <li>
            Su contraseña debe contener al menos 8 caracteres.
        </li>
        <li>
            Su contraseña no puede ser una clave utilizada comúnmente.
        </li>
        <li>
            Su contraseña no puede ser completamente numérica.
        </li>
    </ul>    
        <form method="POST">{% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
            <br/><br/>
            <a href="{% url 'edit_profile' %}" class="btn btn-secondary">Atrás</a>
            <br/><br/>
        </form>
    </div>
</div>

{% endblock post %}