{% extends 'post.html' %}
{% block title %} Crear página de perfil {% endblock %}
{% block post %}

<div class="container px-4 px-lg-5">

    {% if user.is_authenticated %}
        <h1>
            Crear página de perfil
        </h1>
        <div class="col-sm-6">
            <div class="form-group">
                <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-primary">Crear</button>
                    <br><br>
                    <a href="{% url 'home' %}" class="btn btn-secondary">Atrás</a>
                    <br><br>
                </form>
            </div>
        </div>
    {% else %}
        <h1>
            Debes iniciar sesión para ver esta página.
        </h1>
        <br>
    {% endif %}

</div>

{% endblock post %}