{% extends 'post.html' %}
{% block title %} Configuración de usuario {% endblock %}
{% block post %}

<h1>
    Configuración de usuario
</h1>
<div class="col-sm-6">
    <div class="form-group">
        <form method="POST">{% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">Actualizar</button>
            <br><br>
            <a href="{% url 'home' %}" class="btn btn-secondary">Atrás</a>
            <br/><br/>
        </form>
    </div>
</div>

{% endblock post %}